body{
    background: rgba(7, 80, 43, 0.89)url('../img/if-fundo.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: darken;
}

h1{
    color: rgb(255, 255, 255);
    padding: 10px;
}

div#logo img{
    width: 70px;
    padding: 10px 0 5px 15px;
}

.cabecalho{
    background-color: transparent;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.301);
}

h2{
    color: white;
    margin-top: 40px;
}

.row{
    margin-top: 20px;
}

#turma {
    margin: 10px 0;
}

#horarios {
    margin: 0 0 30px 0;
    border: 1px solid rgba(255, 255, 255, 0.219);
    border-collapse: collapse;
    display: inline-block;
}

#horarios th {
    background-color: #012020b0;
    color: #eee;
    padding: 15px 15px;
    width: 100px; 
}

#horarios tr td {
    background-color: rgba(3, 43, 22, 0.356);
    color: rgb(219, 219, 219);
    padding: 8px 5px;
    border: 1px solid rgba(255, 255, 255, 0.171);
    font-size: 13px;
}